@charset "UTF-8";
:root {
  --labs-sys-color-delorean-1: #f21023;
  --labs-sys-color-delorean-2: #ef4444;
  --labs-sys-color-delorean-lights-yellow: #fdee15;
  --labs-sys-color-delorean-lights-red: #ec8d09;
  --labs-sys-color-sun-2: #E94BC9;
  --labs-sys-color-triangle: #6eccee;
}

.delorean {
  position: absolute;
  padding-bottom: 0.1vmin;
  bottom: 0;
  z-index: 11111;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.delorean .delorean-top {
  width: 40vmin;
  height: 18vmin;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.7)), var(--labs-sys-color-delorean-1);
  clip-path: polygon(25% 25%, 30.67% 25.33%, 24.67% 25.33%, 27.67% 23.33%, 37% 22%, 50% 21.33%, 59.67% 22%, 66.33% 23.33%, 71.88% 25%, 90.81% 55.29%, 98% 86.5%, 100% 100%, 0% 100%, 1.09% 87.65%, 7.68% 55.29%);
  position: relative;
  /* Animación de luz */
}
.delorean .delorean-top .top-lines-on-top {
  background: rgba(0, 0, 0, 0.2);
  height: 0.1vmin;
  width: 5.9vmin;
  top: 4.8vmin;
  left: 9.3vmin;
  position: absolute;
}
.delorean .delorean-top .top-lines-on-top.right {
  left: 23.4vmin;
}
.delorean .delorean-top .top-lines-on-top:before {
  position: absolute;
  content: "";
  background: inherit;
  left: 0;
  top: -0.4vmin;
  width: 7vmin;
  height: inherit;
}
.delorean .delorean-top .top-lines-on-top:after {
  position: absolute;
  content: "";
  background: inherit;
  left: 6.3vmin;
  top: -0.65vmin;
  width: 0.1vmin;
  height: 1.05vmin;
  transform: rotate(69deg);
}
.delorean .delorean-top .top-lines-on-top.right:before {
  right: 0.1vmin;
  left: unset;
  width: 6.8vmin;
}
.delorean .delorean-top .top-lines-on-top.right:after {
  right: 6.3vmin;
  left: unset;
  transform: rotate(-69deg);
}
.delorean .delorean-top .rear-window {
  position: absolute;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), transparent);
  width: 31vmin;
  height: 6vmin;
  left: 4vmin;
  top: 4vmin;
  clip-path: polygon(18% 25%, 82% 25%, 100% 100%, 0% 100%);
}
.delorean .delorean-top .rear-window:after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, var(--labs-sys-color-delorean-1) 0vmin, transparent 0.2vmin), linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0.5vmin, transparent 0.5vmin);
  background-size: 400px 1.2vmin;
}
.delorean .delorean-top .lights {
  clip-path: polygon(92.75% 66.28%, 93.66% 67.85%, 99.16% 85.07%, 99.16% 86.92%, 98% 87.69%, 2% 87.69%, 0.84% 86.92%, 0.84% 85.07%, 6.35% 67.85%, 7.16% 66.64%, 8.47% 65.8%, 91.53% 65.61%);
  background: linear-gradient(to right, orange, transparent, transparent, transparent, orange), var(--labs-sys-color-delorean-lights-yellow);
  width: 36.8vmin;
  height: 25.7vmin;
  left: 1.5vmin;
  bottom: -1.1vmin;
  position: absolute;
}
.delorean .delorean-top .lights-frame {
  position: absolute;
  top: 0.8vmin;
  right: 0.1vmin;
  bottom: 0.2vmin;
  left: 0.1vmin;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)), var(--labs-sys-color-delorean-1);
  clip-path: polygon(92.75% 66.28%, 93.66% 67.85%, 99.16% 85.07%, 99.16% 86.92%, 98% 87.69%, 66.29% 87.69%, 67.92% 86.6%, 97.89% 85.98%, 91.92% 67.85%, 7.9% 67.85%, 2.14% 85.96%, 31.39% 86.2%, 34.58% 87.69%, 2% 87.69%, 0.84% 86.92%, 0.84% 85.07%, 6.35% 67.85%, 7.16% 66.64%, 8.47% 65.8%, 91.53% 65.61%);
}
.delorean .delorean-top .red-light-left {
  background: linear-gradient(to bottom, #ff6f00, #ffcc80); /* Gradiente naranja */
  position: absolute;
  top: 17.5vmin;
  left: 4vmin;
  bottom: 3.6vmin;
  width: 9vmin;
  border-radius: 5px; /* Esquinas redondeadas */
  box-shadow: 0 0 20px rgba(255, 111, 0, 0.5), 0 0 40px rgba(255, 111, 0, 0.7); /* Efecto de luz */
  animation: glow-blink 1.5s infinite alternate; /* Animación de luz mejorada */
}
.delorean .delorean-top .red-light-right {
  background: linear-gradient(to bottom, #ff6f00, #ffcc80); /* Gradiente naranja */
  position: absolute;
  top: 17.5vmin;
  right: 4.2vmin;
  bottom: 3.6vmin;
  width: 9vmin;
  border-radius: 5px; /* Esquinas redondeadas */
  box-shadow: 0 0 20px rgba(255, 111, 0, 0.5), 0 0 40px rgba(255, 111, 0, 0.7); /* Efecto de luz */
  animation: glow-blink 5s infinite alternate; /* Animación de luz mejorada */
}
@keyframes glow-blink {
  0% {
    opacity: 0.7; /* Menor opacidad al inicio */
    filter: blur(2px); /* Suaviza la luz al inicio */
  }
  50% {
    opacity: 1; /* Mayor opacidad en el medio */
    filter: blur(4px); /* Aumenta el desenfoque para simular un brillo más intenso */
  }
  100% {
    opacity: 0.7; /* Regresa a menor opacidad al final */
    filter: blur(2px); /* Suaviza la luz al final */
  }
}
.delorean .delorean-top .id-container {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 20%, rgba(0, 0, 0, 0.5) 90%), var(--labs-sys-color-delorean-1);
  position: absolute;
  top: 17vmin;
  right: 12.4vmin;
  bottom: 3.1vmin;
  width: 12.8vmin;
  border-radius: 4%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.delorean .delorean-top .id {
  position: absolute;
  left: 1.7vmin;
  right: 1.7vmin;
  top: 1vmin;
  bottom: 1vmin;
  background: linear-gradient(45deg, #111, rgba(0, 0, 0, 0.5));
  border-radius: 0.2vmin;
  z-index: 111;
}
.delorean .delorean-top .id:after {
  background: linear-gradient(45deg, var(--labs-sys-color-sun-2), var(--labs-sys-color-triangle));
  background-clip: text;
  -webkit-text-fill-color: transparent;
  content: "DRIVE";
  font-size: 1.3vmin;
  font-weight: bold;
  font-family: "Capone", "Inter", "Helvetica Neue", "Helvetic", sans serif;
  position: absolute;
  letter-spacing: 0.05vmin;
  display: grid;
  place-items: center;
  inset: 0;
  transform: translateY(0.25vmin);
}
.delorean .delorean-top .id:before {
  content: "MIDNIGHT ";
  color: var(--labs-sys-color-sun-2);
  font-size: 0.8vmin;
  font-weight: bold;
  letter-spacing: 0.1vmin;
  text-align: center;
  position: absolute;
  left: 0.5vmin;
  top: 0.4vmin;
  right: 0.5vmin;
}
.delorean .delorean-top .red-reflection {
  background: #d8a7a7;
  position: absolute;
  height: 0.1vmin;
  bottom: 5.7vmin;
  right: 2.5vmin;
  left: 2.5vmin;
  box-shadow: 0 0 10px 1vmin var(--labs-sys-color-delorean-lights-red);
  mix-blend-mode: initial;
  opacity: 0.7;
}
.delorean .bumper-light-reflection {
  background: linear-gradient(to right, var(--labs-sys-color-delorean-lights-red), var(--labs-sys-color-delorean-lights-yellow) 10%, var(--labs-sys-color-delorean-lights-red) 70%), linear-gradient(to right, var(--labs-sys-color-delorean-lights-red), var(--labs-sys-color-delorean-lights-yellow) 10%, var(--labs-sys-color-delorean-lights-red) 70%);
  background-repeat: no-repeat;
  background-size: 100% 0.045vmin, 100% 0.25vmin;
  background-position: 0 7.5px, 0 -0.05vmin;
  height: 1vmin;
  width: 12vmin;
  transform: translate(1.8vmin, -0.5vmin);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 25%;
  opacity: 0.7;
  mix-blend-mode: plus-lighter;
  filter: drop-shadow(0 0 5px var(--labs-sys-color-delorean-lights-red));
}
.delorean .bumper-light-reflection.right {
  transform: translate(26vmin, -0.5vmin) scaleX(-1);
}
.delorean .mirror-left,
.delorean .mirror-right {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), var(--labs-sys-color-delorean-1);
  width: 5vmin;
  height: 2.8vmin;
  clip-path: polygon(0% 5%, 1.5% 3.5%, 100% 0%, 86.5% 100%, 2.26% 76.98%, 0% 74%);
  transform: translate(-15.4vmin, 12.5vmin);
}
.delorean .mirror-left:before,
.delorean .mirror-right:before {
  content: "";
  position: absolute;
  top: 0.5vmin;
  right: 0.5vmin;
  left: 0.5vmin;
  bottom: 0.5vmin;
  background: linear-gradient(to bottom, rgb(48, 156, 2), rgba(0, 0, 0, 0.5)), var(--labs-sys-color-triangle);
  clip-path: polygon(0% 5%, 1.5% 3.5%, 100% 0%, 86.5% 100%, 2.26% 76.98%, 0% 74%);
}
.delorean .mirror-right {
  transform: translate(14.2vmin, 9.6vmin) scaleX(-1);
}
.delorean .bumper {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.65) 60%, rgba(0, 0, 0, 0.9) 70%, rgba(0, 0, 0, 0.7)), var(--labs-sys-color-delorean-1);
  height: 8vmin;
  width: 40vmin;
  position: relative;
  transform: translateY(-0.3vmin);
  clip-path: polygon(0% 0%, 11.25% 3%, 50.25% 4%, 90.75% 3%, 100% 0%, 95% 71%, 88.75% 96%, 79% 98%, 51% 99%, 25.75% 97%, 12.75% 95%, 5.5% 73%);
}
.delorean .bumper-logo {
  background: url(https://assets.codepen.io/907471/Delorean_DMC-12_Logo.svg) center center no-repeat;
  background-size: contain;
  mix-blend-mode: lighten;
  opacity: 0.8;
  filter: drop-shadow(0 0 1vmin var(--labs-sys-color-sun-2));
  position: absolute;
  width: 12vmin;
  height: 1.3vmin;
  left: 2.5vmin;
  top: 2vmin;
}
@keyframes smoke {
  0% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2), 0 0 45px rgba(255, 255, 255, 0.1);
    transform: translateY(0) scale(1);
  }
  25% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 35px rgba(255, 255, 255, 0.3), 0 0 50px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px) scale(1);
  }
  50% {
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.4), 0 0 60px rgba(255, 255, 255, 0.3);
    transform: translateY(-5px) scale(1);
  }
  75% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.4), 0 0 35px rgba(255, 255, 255, 0.3), 0 0 50px rgba(255, 255, 255, 0.2);
    transform: translateY(-5px) scale(1);
  }
  100% {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3), 0 0 30px rgba(255, 255, 255, 0.2), 0 0 45px rgba(255, 255, 255, 0.1);
    transform: translateY(0) scale(1);
  }
}
.delorean .bumper-hole-1,
.delorean .bumper-hole-2 {
  animation: smoke 3s infinite; /* Aumenta la duración para un efecto más suave */
}
.delorean .bumper-hole-1 {
  position: absolute;
  border-radius: 50%;
  width: 2.3vmin;
  aspect-ratio: 1;
  left: 8vmin;
  top: 4.7vmin;
  background: black;
  opacity: 0.8;
  border: 0.3vmin solid rgba(255, 255, 255, 0.1);
}
.delorean .bumper-hole-2 {
  position: absolute;
  border-radius: 50%;
  width: 2.3vmin;
  aspect-ratio: 1;
  left: 29.1vmin;
  top: 4.7vmin;
  background: black;
  opacity: 0.8;
  border: 0.3vmin solid rgba(255, 255, 255, 0.1);
}
.delorean .bumper-reflection {
  position: absolute;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(200, 200, 200, 0.01), rgba(0, 0, 0, 0.6));
  inset: 0;
}
.delorean .bumper-sticker {
  position: absolute;
  top: 0.5vmin; /* Distancia desde la parte superior */
  right: 1vmin; /* Distancia desde la derecha */
  background: #bbb; /* Color de fondo */
  width: 8vmin; /* Ancho del elemento */
  aspect-ratio: 3/2; /* Proporción del ancho y alto */
  background: url(./persona.png) center center no-repeat; /* Aplicar la máscara de la imagen */
  background-size: contain; /* Cambiar a 'cover' para cubrir todo el área */
  mix-blend-mode: lighten; /* Mezclar con el fondo */
}
.delorean .dashes {
  position: absolute;
  width: 14vmin;
  min-height: 0.4vmin;
  border-top: 0.5vmin dashed rgba(0, 0, 0, 0.6);
  border-bottom: 0.5vmin dashed rgba(0, 0, 0, 0.4);
  transform: translate(12.5vmin, 6vmin);
  border-radius: 20%;
}
.delorean .wheel-case-left,
.delorean .wheel-case-right {
  position: absolute;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.4)), var(--labs-sys-color-delorean-1);
  width: 3.4vmin;
  height: 6vmin;
  transform: translateX(-20.5vmin);
  bottom: 8.6vmin;
  clip-path: polygon(8.39% 31.01%, 19.67% 22.67%, 100% 0%, 100% 100%, 16.67% 100%, 13.84% 89.96%, 5% 40.94%);
}
.delorean .wheel-case-right {
  transform: translateX(16.9vmin) scaleX(-1);
}
.delorean .wheel-left {
  animation: wheel 0.1s ease infinite;
  position: absolute;
  background: linear-gradient(to bottom, black, #222, black, #222, black);
  background-size: 100% 200%;
  width: 5.8vmin;
  height: 10vmin;
  transform: translate(-19.6vmin, 1vmin) rotate(1deg);
  border-radius: 0.3vmin;
  bottom: 0vmin;
}
.delorean .wheel-right {
  animation: wheel 0.1s ease infinite;
  background: linear-gradient(to bottom, black, #222, black, #222, black);
  background-size: 100% 200%;
  position: absolute;
  width: 5.8vmin;
  height: 10vmin;
  transform: translate(13.8vmin, 1vmin) rotate(-1deg);
  border-radius: 0.3vmin;
  bottom: 0vmin;
}
.delorean .shadow {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 29vmin;
  height: 40vmin;
  filter: blur(20px);
  border-radius: 20%;
  perspective: 100px;
  transform: rotateX(72deg) translateY(12rem);
  z-index: -1;
}

@keyframes wheel {
  from {
    background-position-y: 0%;
  }
  from {
    background-position-y: 50%;
  }
}
.demo {
  transform: translateY(-2vmin);
}

body {
  background: #111;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  color: var(--labs-sys-color-delorean-1);
}

.a-enter-vr-button {
  display: none !important;
}

/*# sourceMappingURL=styles.css.map */
